# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.*
!.env.example

# Service Worker config (contains keys)
# Removed public/firebase-config.js explicitly from here because Firebase Config is conceptually a public key and needs to be deployed to production so the service worker doesn't fail.

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.agents/
*.tar.gz

